@import "tailwindcss";

@theme {
  --color-psych-purple: #8b2df9;
  --color-psych-black: #000000;
}

:root {
  background-color: #050505;
  color: white;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #050505;
}

@layer base {
  * {
    @apply border-white/10;
  }
}
